:root {
	--border-color: #d3d9e1;
	--shadow-color: rgba(0, 0, 0, 0.26);

	--toast-bg: #ffffff;
	--toast-color: #000000;
	--toast-border-color: #fff;

	--action-card-color: 248 247 243;
	--accent-color: 253 251 233;
	--canvas-color: 249 250 254;
	--card-color: 255 255 255;
	--popup-color: 255 255 255;
	--divider-color: 212 212 212;
	--content-color: 0 0 0;
	--primary-color: 56 88 249;
	--primary-light-color: 244 255 243;
	--primary-dark-color: 27 42 118;
}
